body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

code,
.code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  line-height: 1.2rem;
}

.App {
  color: #333;
}

.container {
  display: flex;
}

.col {
  padding: 0 15px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

label {
  display: block;
  cursor: pointer;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pointer {
  cursor: pointer;
}

.selected {
  background-color: greenyellow;
}

.pointer:hover {
  background-color: lightgray;
}

.selected:hover {
  background-color: greenyellow;
}
