@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-family-base: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --font-size: 1.4rem;
  --font-size-password: 1.8rem;
  --color-background: lightgray;
  --color-selected: greenyellow;
  --padding: 0.4rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size);
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
  color: #333;
}

code {
  font-family: var(--font-family-code);
  background-color: #ddd;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

label {
  display: block;
  cursor: pointer;
}

button,
input,
button,
select,
textarea {
  padding: var(--padding);
  margin: var(--padding) 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
}

p {
  margin: var(--padding) 0 var(--padding) 0;
  font-weight: normal;
}

.inputs h3,
.heading {
  margin: var(--padding) 0 var(--padding) 0;
  font-weight: normal;
  font-size: var(--font-size);
}

.crack-time h3 {
  margin-top: 0;
}

button:hover {
  background-color: white;
}

input[type='radio'] {
  width: auto;
  margin-right: 0.5rem;
}

/* layout */

.container {
  display: flex;
  flex-wrap: wrap;
}

.output {
  border: solid 1px var(--color-background);
  padding: var(--padding);
  font-family: var(--font-family-code);
  font-size: var(--font-size-password);
  text-align: left;
}

.col {
  padding: 0 var(--padding);
}

.col-output {
  flex: 2 0 auto;
}

/* inputs */

.inputs {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  /* border: solid 1px var(--color-background); */
  gap: var(--padding);
}

.inputs input[type='range'] {
  vertical-align: middle;
}

.inputs .bits {
  margin-left: 0.5rem;
}

.keyspace {
  display: block;
  font-family: var(--font-family-code);
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 20ch;
  background: #ddd;
}

/* headers, footers and menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

header p {
  margin: 0;
  text-align: left;
}

/* make menu links look like buttons */
header a {
  display: inline-block;
  padding: var(--padding);
  background-color: var(--color-background);
  border: solid 1px var(--color-background);
  border-radius: 2px;
  color: black;
  margin-left: var(--padding);
}

header a:hover {
  background-color: white;
}

header a.active {
  background-color: var(--color-selected);
  border-color: var(--color-selected);
  color: black;
}

footer {
  text-align: center;
}

/* helpers */

.strong {
  font-weight: bold;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.selected {
  background-color: var(--color-selected);
}

.pointer:hover {
  background-color: var(--color-background);
}

.selected:hover {
  background-color: var(--color-selected);
}

.crack-time {
  max-width: 600px;
}

/* estimated cracking time section */

table {
  border-collapse: collapse;
  margin: var(--padding) 0;
}

table tr {
  border-top: 1px solid var(--color-background);
  background-color: white;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table th,
table td {
  border: 1px solid var(--color-background);
  padding: var(--padding);
}

/* cli output */
.cli {
  width: 100%;
}

.cli code {
  font-family: var(--font-family-code);
  cursor: pointer;
}

.cli pre {
  padding: 0;
  margin: 0;
  overflow-x: auto;
  white-space: pre;
  max-width: 120ch;
}

button.copy {
  width: 10ch;
}

button.copied {
  background-color: var(--color-selected);
  border: solid 1px var(--color-selected);
  color: black;
}

/* copy notification */
.notify {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--color-selected);
  color: black;
  padding: 1rem;
  border-radius: 2px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}
